$smallMargin: 10px;
$profileHeight: 80vh;

p {
    margin: 0%;
}

main {
    width: 100%;
}

.profile {
    box-shadow: 0px 0px 10px 3px black;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 50px;
    height: $profileHeight;
}

.profile-l {
    width: 30%;
    border-right: 5px ridge black;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.profileImgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.profileimg {
    border-radius: 50%;
    width: 80%;
    /* height: 20vh; */
    box-shadow: 7px 4px 5px black;
}

.username {
    font-size: 32px;
}

.profileUsername {
    width: 100%;
    border-top: 3px ridge black;
    border-bottom: 3px ridge black;
}

.profileDescription {
    width: 100%;
}

.bio-title {
    border-bottom: 3px ridge black;
    margin-top: $smallMargin;
    margin-bottom: $smallMargin;
    font-size: 20px;
    font-weight: bold;
}

.bio {
    text-align: left;
    margin: 20px;
}

.profile-r {
    width: 70%;
    justify-content: right;
}

.optionsOwner {
    display: flex;
}

.options>button {
    width: 25%;
}

.optionsOwner>button:last-of-type {
    border-top-right-radius: 30px;
}

.optionsOwner {
    display: flex;
    width: 100%;
}

.optionsOwner>button {
    width: 25%;
}

.options>button:last-of-type {
    border-top-right-radius: 30px;
}

.settings {
    width: 80%;
    margin: 20px;
}

.settings form {
    width: 100%;
}

.settings input {
    width: 100%;
}

.bioInput {
    resize: none;
    height: 80px;
    width: 100%;
    word-break: break-word;
}

form button {
    margin-top: 20px;
}

.button,
.button-active {
    border-radius: 10%;
    margin-bottom: $smallMargin;
    margin-top: -30px;
}

.button-active {
    background-color: gray;
    color: white;
}

.card-text {
    margin-left: 2.5%;
}

.comment-author-img {
    width: 50px;
}

.card-block {
    margin-bottom: 7px;
    margin-top: 3px;
}

.add-comment {
    max-width: 100%;
}

.red {
    color: red;
    margin-bottom: -5px;
}

.mod-options {
    cursor: pointer;
}

a img {
    max-width: 80px;
    margin-bottom: -30px;
    margin-right: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.product {
    display: flex;
}

.follower-card {
    margin: $smallMargin;
    display: flex;
    justify-content: left;
    align-content: left;
    height: 80px;
}

.follower-header {
    height: 100%;
}

.follower-info {
    margin: $smallMargin;
    margin-bottom: 20px;
    display: flex;
}

.follower-info h1 {
    margin: 0px;
}

.follower-img {
    margin-right: $smallMargin;
    width: 60px;
    height: 60px;
}

.following-card {
    margin: $smallMargin;
    display: flex;
    justify-content: left;
    align-content: left;
    height: 80px;
}

.following-header {
    height: 100%;
}

.following-info {
    margin: $smallMargin;
    margin-bottom: 20px;
    display: flex;
}

.following-info h1 {
    margin: 0px;
}

.following-img {
    margin-right: $smallMargin;
    width: 60px;
    height: 60px;
}

.date-posted {
    margin-left: 100px;
}

.heart {
    width: 30px;
    cursor: pointer;
    margin-right: $smallMargin;
    margin-bottom: $smallMargin;
    margin-left: $smallMargin;
}

.favorite {
    display: flex;
}

.div-likes {
    display: flex;
}

.likes-img {
    width: 80px;
    height: 80px;
}

.product-like {
    display: flex;
    flex-direction: column;
}

section img,
section h1 {
    cursor: pointer;
    margin-left: 5px;
}

.followButton {
    height: 30px;
    margin-top: $smallMargin;
    margin-left: $smallMargin;
}

.titleSize {
    font-size: 200%;
}

.followers,
.followings,
.likes,
.comments {
    display: none;
}

.optionsOwner {
    font-size: small;
}

.options {
    font-size: 90%;
}

@media screen and (min-width: 576px) {
    .profile {
        box-shadow: 0px 0px 10px 3px black;
        border-radius: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 50px;
        height: $profileHeight;
    }

    .profileimg {
        border-radius: 50%;
        width: 70%;
        box-shadow: 7px 4px 5px black;
    }

    .titleSize {
        font-size: 205%;
    }

    .followers,
    .followings,
    .likes,
    .comments {
        display: none;
    }

    .optionsOwner {
        font-size: 80%;
    }

    .options {
        font-size: 95%;
    }
}

@media screen and (min-width: 768px) {

    .profile {
        box-shadow: 0px 0px 10px 3px black;
        border-radius: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 50px;
        height: $profileHeight;
    }

    .followers,
    .followings,
    .likes,
    .comments {
        display: inline;
    }

    .optionsOwner {
        font-size: 85%;
    }

    .options {
        font-size: 100%;
    }
}

@media screen and (min-width: 992px) {
    .profile {
        box-shadow: 0px 0px 10px 3px black;
        border-radius: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-right: 10%;
        margin-top: 50px;
        height: $profileHeight;
    }

    .profileimg {
        border-radius: 50%;
        width: 20vh;
        height: 20vh;
        box-shadow: 7px 4px 5px black;
    }

    .titleSize {
        font-size: 240%;
    }

    .followers,
    .followings,
    .likes,
    .comments {
        display: inline;
    }

    .optionsOwner {
        font-size: 100%;
    }

    .options {
        font-size: 100%;
    }
}