<main *ngIf="loaded | async">
    <div class="profile">
        <div class="profile-l">
            <div class="profileImgDiv">
                <img src="{{ profile.image }}" class="profileimg">
            </div>
            <button *ngIf="!owner && profile.following === false" (click)="toggleFollow(profile.following)"
                class="button">Follow</button>
            <button *ngIf="!owner && profile.following === true" (click)="toggleFollow(profile.following)"
                class="button-active">Unfollow</button>
            <div class="profileUsername">
                <p class="username">{{ profile.username }}</p>
            </div>
            <div class="profileDescription">
                <p class="bio-title">Bio</p>
                <p class="bio">{{ profile.bio }}</p>
            </div>
        </div>
        <div class="profile-r">
            <div class="optionsOwner" *ngIf="owner">
                <button (click)="changeView('followers')"><span class="followers">{{profile.numFollowers}}</span> Followers</button>
                <button (click)="changeView('following')"><span class="followings">{{profile.numFollowing}}</span> Followings</button>
                <button (click)="changeView('likes')"><span class="likes">{{profile.numLikes}}</span> Likes</button>
                <button (click)="changeView('comments')"><span class="comments">{{profile.numComments}}</span> Comments</button>
                <button (click)="viewSettings()">Settings</button>
            </div>
            <div class="options" *ngIf="!owner">
                <button (click)="changeView('followers')"><span class="followers">{{profile.numFollowers}}</span> Followers</button>
                <button (click)="changeView('following')"><span class="followings">{{profile.numFollowing}}</span> Followings</button>
                <button (click)="changeView('likes')"><span class="likes">{{profile.numLikes}}</span> Likes</button>
                <button (click)="changeView('comments')"><span class="comments">{{profile.numComments}}</span> Comments</button>
            </div>

            <div class="settings" *ngIf="view=='settings'">
                <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">

                    <h3>Settings</h3>
                    <label for="bio">Bio:</label>
                    <textarea class="bioInput" type="text" name="bio" formControlName="bio"></textarea>
                    <div class="text-danger" *ngIf="settingsForm.get('bio')?.hasError('required') &&
                                        settingsForm.get('bio')?.touched">
                        <span>Bio <strong>required</strong></span>
                    </div>

                    <label for="password">Password:</label>
                    <input type="password" name="password" formControlName="password">
                    <div class="text-danger" *ngIf="settingsForm.get('password') && settingsForm.get('password')?.hasError('minlength') &&
                        settingsForm.get('password')?.touched">
                        <span>Password <strong>required</strong>, 5 characters min</span>
                    </div>

                    <label for="repeatPassword">Repeat password:</label>
                    <input type="password" name="repeatPassword" formControlName="repeatPassword">
                    <div class="text-danger" *ngIf="settingsForm.get('repeatPassword')?.hasError('required') && settingsForm.get('repeatPassword')?.touched
                        || settingsForm.get('repeatPassword')?.hasError('minlength') && settingsForm.get('repeatPassword')?.touched
                        || confirmPassword_invalid && settingsForm.get('repeatPassword')?.touched">
                        <span>Passwords <strong>must</strong> be equal.</span>
                    </div>
                    <button class="btn btn-lg btn-block btn-primary mb-2" type="submit"
                        [disabled]="!settingsForm.valid">Change values</button>
                </form>
            </div>
            <div *ngIf="view=='followers'">
                <div *ngFor="let follower of followers">
                    <img src="{{follower.image}}" alt=""><h1>{{follower.username}}</h1>
                </div>
            </div>
            <div *ngIf="view=='following'">
                <div *ngFor="let following of followings">
                    <img src="{{following.image}}" alt=""><h1>{{following.username}}</h1>
                </div>
            </div>
            <div *ngIf="view=='likes'">
                <div *ngFor="let like of likes">
                    <img src="../../assets/img/{{like.photo}}" alt=""><h1>{{like.name}}</h1>
                </div>
            </div>
            <div *ngIf="view=='comments'">
                <div *ngFor="let comment of comments">
                    <img src="../../assets/img/{{comment.photo}}" alt=""><h1>{{comment.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</main>