<main>
    <div class="profile">
        <div class="profile-l">
            <div class="profileImgDiv">
                <img src="https://static.productionready.io/images/smiley-cyrus.jpg" class="profileimg">
            </div>
            <div class="profileUsername">
                <p class="username">Salva</p>
            </div>
            <div class="profileDescription">
                <p>Biography</p>
                <p class="bio">Bio</p>
            </div>
        </div>
        <div class="profile-r">
            <p>hola</p>
        </div>
    </div>
</main>
