<div class="list row">
    <div class="col-md-6">
        <h4>Categories List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of listCategories">
                {{ category.name }}
                <a class="delete" (click)="deleteCategory(category.slug)">Delete</a>
                <a class="update" (click)="updateCategory(category.slug)">Update</a>
                <a class="details" (click)="showDetails(category.slug)">Details</a>
            </li>
        </ul>
    </div>
    <div *ngIf="viewDetails === 'show'" class="detailsCat col-6 list-group">
        <h4 class="margin">Details</h4>
        <ul>
            <li class="list-group-item">
                <span>Name: {{detailedCategory.name}}</span>
            </li>
            <li class="list-group-item">
                <span>Photo: {{detailedCategory.photo}}</span>
            </li>
        </ul>
    </div>
</div>