.card-text {
    margin-left: 2.5%;
}

.comment-author-img {
    width: 50px;
}

.card-block {
    margin-bottom: 7px;
    margin-top: 3px;
}
.add-comment{
    max-width: 100%;
}
.red {
    color: red;
    margin-bottom: -5px;
}

.mod-options{
    cursor: pointer;
}