nav {
    background: url(../../../assets/img/micro_carbon.png) repeat;
}

.nav-item {
    margin: auto;
}

.userNav {
    display: flex;
    margin-left: 20px;
}

.logOut {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.logOut:hover {
    background: white;
    color: #262626;
    text-decoration: none;
}

img {
    height: 40px;
    width: 40px;
}

img:hover {
    cursor: pointer;
}