<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="#" class="navbar-brand">popallaw</a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link">HOME</a>
    </li>
    <li class="nav-item">
      <a routerLink="/shop" class="nav-link">SHOP</a>
    </li>
  </div>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <app-search></app-search>
      </li>
      <li *appShowAuthed="true" class="nav-item userNav">
        <img (click)="goProfile()" src="{{currentUser.image}}" alt="">
        <a (click)="goProfile()" class="nav-link">{{ currentUser.username }}</a>
        <button class="logOut" (click)="logOut()">Log out</button>
      </li>
      <li *appShowAuthed="false" class="nav-item">
        <a routerLink="/login/" class="nav-link">LOGIN</a>
      </li>
    </ul>
  </div>
</nav>