<div class="divForm">
    <div *ngIf="form === 'login'">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">

            <h3>Login</h3>
            <label for="email">Email:<br> <input type="text" name="email" formControlName="email"></label><br>
            <div class="text-danger" *ngIf="loginForm.get('email')?.hasError('required') &&
                                loginForm.get('email')?.touched || loginForm.get('email')?.hasError('email') &&
                                loginForm.get('email')?.touched">
                <span>E-mail <strong>required</strong></span>
            </div>

            <label for="password">Password:<br> <input type="password" name="password"
                    formControlName="password"></label><br>
            <div class="text-danger" *ngIf="loginForm.get('password')?.hasError('required') &&
            loginForm.get('password')?.touched">
                <span>Password <strong>required</strong></span>
            </div>

            <p>Don't have an account? <b class="form_change" (click)="form = 'register'">Create one</b></p><br>
            <button class="btn btn-lg btn-block btn-primary mb-2" type="submit"
                [disabled]="!loginForm.valid">Login</button>
        </form>

    </div>
    <div *ngIf="form === 'register'">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

            <h3>Register</h3>
            <label for="username">Username:<br> <input type="text" name="user" formControlName="username"></label><br>
            <div class="text-danger" *ngIf="registerForm.get('username')?.hasError('required') &&
                    registerForm.get('username')?.touched || registerForm.get('username')?.hasError('minlength') &&
                    registerForm.get('username')?.touched">
                <span>Username <strong>required</strong></span>
            </div>

            <label for="email">Email:<br> <input type="text" name="email" formControlName="email"></label><br>
            <div class="text-danger" *ngIf="registerForm.get('email')?.hasError('required') &&
            registerForm.get('email')?.touched || registerForm.get('email')?.hasError('email') &&
            registerForm.get('email')?.touched">
                <span>E-mail <strong>required</strong></span>
            </div>

            <label for="password">Password:<br> <input type="password" name="password"
                    formControlName="password"></label><br>
            <div class="text-danger" *ngIf="registerForm.get('password')?.hasError('required') &&
                    registerForm.get('password')?.touched || registerForm.get('password')?.hasError('pattern') &&
                    registerForm.get('password')?.touched">
                <span>Password <strong>required</strong>, introduce a strong password (Min 8 Characters, Max 20 Characters. 1 Uppercase, 1 Lowercase , 1 Number and 1 Special Character)</span>
            </div>

            <label for="repeatPassword">Repeat password:<br> <input type="password" name="repeatPassword"
                    formControlName="repeatPassword"></label><br>
            <div class="text-danger" *ngIf="registerForm.get('repeatPassword')?.hasError('required') && registerForm.get('repeatPassword')?.touched
                    || registerForm.get('repeatPassword')?.hasError('pattern') && registerForm.get('repeatPassword')?.touched
                    || confirmPassword_invalid && registerForm.get('repeatPassword')?.touched">
                <span>Passwords <strong>must</strong> be equal.</span>
            </div>

            <p>Do you have an account? <b class="form_change" (click)="form = 'login'">Log in</b></p><br>

            <button class="btn btn-lg btn-block btn-primary mb-2" type="submit"
                [disabled]="!registerForm.valid">Register</button>
        </form>

    </div>
</div>