<div>
    <form>
        <div *ngIf="form === 'login'">
            <h3>Login</h3>
            <label for="user">User: <input type="text" name="user"></label>
            <label for="user">Password: <input type="text" name="user"></label>
            <p>Don't have an account? <a (click)="form = 'register'">Create one</a></p>
        </div>
        <div *ngIf="form === 'register'">
            <h3>Register</h3>
            <label for="user">User: <input type="text" name="user"></label>
            <label for="user">Password: <input type="text" name="user"></label>
            <label for="user">Repeat password: <input type="text" name="user"></label>
        </div>
    </form>
</div>