<app-filters></app-filters>
<div class="main">
  <div class="container page-wrapper">
    <div class="page-inner">
      <div class="row">
        <h1 [hidden]="isProducts">No se han encontrado resultados</h1>
        <div [hidden]="!isProducts" class="el-wrapper">
          <div class="card" *ngFor="let product of listProducts" (click)="showDetails(product.slug)">
            <div class="box-up">
              <img class="img" src="../../../assets/img/{{product.photo}}" alt="">
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name">{{product.name}}</span>
                  <span class="p-category">{{product.categoryname.name}}</span>
                </div>
              </div>
            </div>
            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>

              <a class="cart" href="#">
                <span class="price">{{product.price}}€</span>
                <span class="add-to-cart">
                  <span class="txt">Buy</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-pagination (pageChange)="loadPage($event)"></app-pagination>